    <fieldset class="layui-elem-field layui-field-title">
        <legend>书籍搜索</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="{:url('index')}" search>
        <div class="layui-form-item">
            <label class="layui-form-label">书籍书号</label>
            <div class="layui-input-inline">
                <input type="text" name="search[isbn]" autocomplete="off" placeholder="书籍书号" class="layui-input">
            </div>
            <label class="layui-form-label">书籍名称</label>
            <div class="layui-input-inline">
                <input type="text" name="search[name]" autocomplete="off" placeholder="书籍名称" class="layui-input">
            </div>
            <label class="layui-form-label">作者名称</label>
            <div class="layui-input-inline">
                <input type="text" name="search[author_name]" autocomplete="off" placeholder="作者名称" class="layui-input">
            </div>
            <label class="layui-form-label">完结状态</label>
            <div class="layui-input-inline">
                <select name="search[end_status]">
                    <option value="">请选择</option>
                    <option value="2">完结</option>
                    <option value="1">连载</option>
                </select>
            </div>
            <div class="layui-input-inline layui-btn-group">
                <button class="layui-btn layui-btn-primary" lay-submit="" data-elem=".layui-body-table" lay-filter="search"><i class="iconfont icon-originalimage"></i></button>
                <a class="layui-btn layui-btn-primary" href="{:url('add')}"><i class="layui-icon">&#xe654;</i></a>
            </div>
        </div>
    </form>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>书籍列表</legend>
    </fieldset>

    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="50">
            <col width="150">
            <col>
            <col width="100">
            <col width="150">
            <col width="100">
            <col width="200">
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>书籍书号</th>
                <th>书籍名称</th>
                <th>作者</th>
                <th>来源</th>
                <th>完结状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="layui-body-table" data-url="{:url('index')}" data-elem=".layui-body-table">
            
        </tbody>
        <script type="text/html" class="layui-body-table-script">
            {{#  layui.each(d.data.data, function(index, item){ }}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.isbn }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.author_name }}</td>
                    <td>{{ item.source_name }}</td>
                    {{# if(item.end_status == 1){ }}
                    <td>连载</td>
                    {{# }else{ }}
                    <td>完结</td>
                    {{# } }}
                    <td>
                        <a class="layui-btn layui-btn-primary layui-btn-small" href="/chapter/index/id/{{ item.id }}">
                            <i class="iconfont icon-text"></i>
                        </a>
                        <a class="layui-btn layui-btn-primary layui-btn-small" href="/book/edit/id/{{ item.id }}">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a class="layui-btn layui-btn-primary layui-btn-small" href="/book/destroy/id/{{ item.id }}" lay-delete>
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
            {{# }); }}
        </script>
    </table>
    <div lay-page></div>