    <fieldset class="layui-elem-field layui-field-title">
        <legend>采集添加</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" method="post" action="{:url('edit',['id'=>$gather['id']])}">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="field-tip">*</span>采集名称</label>
            <div class="layui-input-inline">
                <input type="text" name="data[name]" value="{$gather.name}" autocomplete="off" placeholder="采集名称" class="layui-input">
            </div>
        </div>

        {if condition="empty($gather['title'])"}
        <div class="layui-form-item">
            <label class="layui-form-label">标题替换</label>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[title][search][]" autocomplete="off" placeholder="搜索" class="layui-input">
            </div>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[title][replace][]" autocomplete="off" placeholder="替换" class="layui-input">
            </div>
            <a class="layui-btn layui-btn-primary" data-title data-parts="true"><i class="layui-icon">&#xe654;</i>添加</a>
        </div>
        {/if}
        {volist name="$gather.title" id="vo"}
        <div class="layui-form-item">
            {if condition="$key eq 0"}
            <label class="layui-form-label">标题替换</label>
            {else}
            <label class="layui-form-label layui-form-label-group"></label>
            {/if}
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[title][search][]" value="{$vo.search??''}" autocomplete="off" placeholder="搜索" class="layui-input">
            </div>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[title][replace][]" value="{$vo.replace??''}" autocomplete="off" placeholder="替换" class="layui-input">
            </div>
            {if condition="$key eq 0"}
            <a class="layui-btn layui-btn-primary" data-title data-parts="true"><i class="layui-icon">&#xe654;</i>添加</a>
            {else}
            <a class="layui-btn layui-btn-primary" data-title data-parts="false"><i class="layui-icon">&#xe640;</i>删除</a>
            {/if}
        </div>
        {/volist}

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="field-tip">*</span>列表页面</label>
            <div class="layui-input-inline layui-input-inline-big">
                <input type="text" name="data[list]" value="{$gather.list}" autocomplete="off" placeholder="列表页面" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">采集书籍章节列表数据时选择器dom.</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="field-tip">*</span>章节详情</label>
            <div class="layui-input-inline layui-input-inline-big">
                <input type="text" name="data[content]" value="{$gather.content}" autocomplete="off" placeholder="章节详情页面" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">采集书籍章节详情数据时选择器dom.</div>
        </div>
        {if condition="empty($gather['replace'])"}
        <div class="layui-form-item">
            <label class="layui-form-label">内容替换</label>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[replace][search][]" autocomplete="off" placeholder="搜索" class="layui-input">
            </div>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[replace][replace][]" autocomplete="off" placeholder="替换" class="layui-input">
            </div>
            <a class="layui-btn layui-btn-primary" data-replace data-parts="true"><i class="layui-icon">&#xe654;</i>添加</a>
        </div>
        {/if}
        {volist name="$gather.replace" id="vo"}
        <div class="layui-form-item">
            {if condition="$key eq 0"}
            <label class="layui-form-label">内容替换</label>
            {else}
            <label class="layui-form-label layui-form-label-group"></label>
            {/if}
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[replace][search][]" value="{$vo.search??''}" autocomplete="off" placeholder="搜索" class="layui-input">
            </div>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[replace][replace][]" value="{$vo.replace??''}" autocomplete="off" placeholder="替换" class="layui-input">
            </div>
            {if condition="$key eq 0"}
            <a class="layui-btn layui-btn-primary" data-replace data-parts="true"><i class="layui-icon">&#xe654;</i>添加</a>
            {else}
            <a class="layui-btn layui-btn-primary" data-replace data-parts="false"><i class="layui-icon">&#xe640;</i>删除</a>
            {/if}
        </div>
        {/volist}
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">采集说明</label>
            <div class="layui-input-block">
                <textarea placeholder="采集说明" name="data[remark]" class="layui-textarea">{$gather.remark}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <a class="layui-btn" lay-submit="" lay-filter="save">保存</a>
        </div>
    </form>
    
    <script id="replace-input" type="text/html">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-label-group"></label>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[replace][search][]" autocomplete="off" placeholder="搜索" class="layui-input">
            </div>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[replace][replace][]" autocomplete="off" placeholder="替换" class="layui-input">
            </div>
            <a class="layui-btn layui-btn-primary" data-replace data-parts="false"><i class="layui-icon">&#xe640;</i>删除</a>
        </div>
    </script>

    <script id="title-input" type="text/html">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-label-group"></label>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[title][search][]" autocomplete="off" placeholder="搜索" class="layui-input">
            </div>
            <div class="layui-input-inline layui-input-inline-group">
                <input type="text" name="data[title][replace][]" autocomplete="off" placeholder="替换" class="layui-input">
            </div>
            <a class="layui-btn layui-btn-primary" data-title data-parts="false"><i class="layui-icon">&#xe640;</i>删除</a>
        </div>
    </script>

    <script type="text/javascript">
        layui.define(['layer', 'jquery', 'laytpl', 'form'], function(exports) {
            var $ = layui.jquery,
            laytpl = layui.laytpl;

            $(document).on('click', '[data-replace]', function() {
                var $this = $(this),
                    $op = $(this).data('parts');
                // 等于真新增
                // 等于假删除
                if ($op) {
                    // console.log($this.parent().parent());
                    laytpl($('#replace-input').html()).render({}, function(html) {
                        $this.parent().after(html);
                    });
                } else {
                    $this.parent().remove();
                }
            });

            $(document).on('click', '[data-title]', function() {
                var $this = $(this),
                    $op = $(this).data('parts');
                // 等于真新增
                // 等于假删除
                if ($op) {
                    // console.log($this.parent().parent());
                    laytpl($('#title-input').html()).render({}, function(html) {
                        $this.parent().after(html);
                    });
                } else {
                    $this.parent().remove();
                }
            });
        });
    </script>