    <fieldset class="layui-elem-field layui-field-title">
        <legend>采集搜索</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="{:url('index')}" search>
        <div class="layui-form-item">
            <label class="layui-form-label">采集名称</label>
            <div class="layui-input-inline">
                <input type="text" name="search[name]" autocomplete="off" placeholder="采集名称" class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-group">
                <button class="layui-btn layui-btn-primary" lay-submit="" data-elem=".layui-body-table" lay-filter="search"><i class="iconfont icon-originalimage"></i></button>
                <a class="layui-btn layui-btn-primary" href="{:url('add')}"><i class="layui-icon">&#xe654;</i></a>
            </div>
        </div>
    </form>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>采集列表</legend>
    </fieldset>

    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="150">
            <col>
            <col width="150">
            <col width="150">
            <col width="250">
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>采集名称</th>
                <th>列表页面正则</th>
                <th>章节内容正则</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="layui-body-table" data-url="{:url('index')}" data-elem=".layui-body-table">
            
        </tbody>
        <script type="text/html" class="layui-body-table-script">
            {{#  layui.each(d.data.data, function(index, item){ }}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.list }}</td>
                    <td>{{ item.content }}</td>
                    <td>
                        <a class="layui-btn layui-btn-primary layui-btn-small" href="/gather/edit/id/{{ item.id }}">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a class="layui-btn layui-btn-primary layui-btn-small " href="/gather/destroy/id/{{ item.id }}">
                            <i class="layui-icon">&#xe609;</i>
                        </a>
                    </td>
                </tr>
            {{# }); }}
        </script>
    </table>
    <div lay-page></div>