    <fieldset class="layui-elem-field layui-field-title">
        <legend>书籍来源添加</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" method="post" action="{:url('add')}">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="field-tip">*</span>来源名称</label>
            <div class="layui-input-inline">
                <input type="text" name="data[name]" autocomplete="off" placeholder="来源名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="field-tip">*</span>来源网址</label>
            <div class="layui-input-inline layui-input-inline-big">
                <input type="text" name="data[url]" autocomplete="off" placeholder="来源网址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">来源说明</label>
            <div class="layui-input-block">
                <textarea placeholder="来源说明" name="data[remark]" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <a class="layui-btn" lay-submit="" lay-filter="save">保存</a>
        </div>
    </form>